<div>
  <div>
    <div class="col-md-6 admin-bar-chart">
      <div class="col-md-6 col-md-offset-3 admin-bar-chart-inner">
        <canvas id="admin-bar-chart" width="400" height="400"></canvas>
        <p> Top 10 properties</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 admin-pie-chart">
    <div class="col-md-6 col-md-offset-3 admin-pie-chart-inner">
      <canvas id="admin-pie-chart" width="400" height="400"></canvas>
      <p> Top 10 Cities with highest revenue </p>
    </div>  
  </div>
</div>
<div>
  <div class="col-md-6 admin-bar-chart">
    <div class="col-md-6 col-md-offset-3 admin-bar-chart-inner">
      <canvas id="admin-bar-chart-1" width="400" height="400"></canvas>
      <p> Top 10 properties
    </div>
  </div>
  <div class="col-md-6 admin-pie-chart">
    <div class="col-md-6 col-md-offset-3 admin-pie-chart-inner">
      <canvas id="admin-pie-chart-1" width="400" height="400"></canvas>
      <p> Top 10 Cities with highest revenue
    </div>
  </div>
</div>



