<main id="site-content" role="main" xmlns="http://www.w3.org/1999/html">
    <div id="lys-redesign-div">
        <style data-aphrodite></style>
        <div data-hypernova-key="list_your_spacebundlejs">
            <div>
                <div class="list-your-space__progress">

                    <div class="left-backdrop"></div>
                    <div class="right-backdrop hide-sm bg-white right-backdrop--with-bg"></div>
                    <div class="list-your-space__content">
                        <div class="centered-content clearfix">
                            <div class="panel--no-border panel-title">
                                <h3 class="no-margin-padding">
                                    <span>Available Dates</span>
                                </h3>
                            </div>
                            <div class="text-success">{{successMessage}}</div>
                            <div class="text-danger">{{invMessage}}</div>
                            <div class="main-panel-container no-padding-h bg-white main-panel-outer-half clearfix">

                                <div class="form-group " style="padding : 10px ;">
                                    <p>From</p>
                                    <input type="date" class="form-control input-lg"  placeholder="From" style="margin-left: -5px;" ng-model="from">
                                </div>
                                <div class="form-group " style="padding : 10px ;">
                                    <p>Till</p>
                                    <input type="date" class="form-control input-lg" placeholder="upto" style="margin-left: -5px;" ng-model="till">
                                </div>

                                <div class="main-panel__actions-wrapper">
                                    <div class="centered-content clearfix">
                                        <div class="bg-white main-panel-outer-half clearfix shadowed">
                                            <div class="no-margin-padding__sm main-panel-padding main-panel-progress pull-right main-panel-inner-half space-sm-8">
                                                <div class="divider hide-sm"></div>
                                                <div class="row no-margin-padding__sm">
                                                    <div class="main-panel__actions col-sm-12 no-margin-padding__sm">
                                                        <div>
                                                            <a class="btn-progress-back link-icon va-container va-container-v pull-left text-gray link--accessibility-outline" ng-click="becomeHostStep3()">
                                                                <span class="icon hide-sm></span>
                                                                <span class="va-middle">
                                                                    <h5 class="text-normal">
																		<span>Back</span>
																	</h5>
                                                                </span>
                                                            </a>
                                                            <a class="btn btn-large btn-progress-next btn-large__next-btn pull-right-md btn-primary"  ng-click="finish()">
                                                                <div class="btn-progress-next__text">
                                                                    <span>Publish Hosting</span>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="waypoint-container">
                                    <span style="font-size: 0;"></span>
                                </div>
                            </div>
                            <div class="help-panel-container">
                                <div class="hide-sm help-panel panel">
                                    <div class="panel-body">
                                        <div class="help-panel__bulb-img space-2"></div>
                                        <div class="help-panel__text">
                                            <div>
												<span><span>Based on what you set, this will be the available dates for hosting.</span>
                                                      <span><br/></span>
                                                      <span>Your property will be shown available between this date range. </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
<script src="/scripts/util.client.logging.js"></script>
</main>



