<script>

var userjourney = {};
$.get("/analytics/getuserid",function(data,status){
	var result = data.result;
	var useridList = $("#useridList");
	console.log(result);
	$.each(result, function() {
    	useridList.append($("<option />").val(this).text(this));
	});
})

$('#useridList').change(function() {
	var userid = $(this).val();
	console.log(userid);
    $.post("/analytics/userjourney", {userid: userid}, function(data){
        if(data.statuscode == 0)
        {
        	console.log(data.result);
        	//userjourney = data.result[0];
        	
        	drawGraph(data.result);
        }

    });
});
    
function drawGraph(userjourney){
	var graph = new Springy.Graph();
  graph.loadJSON(userjourney);
  var springy = jQuery('#springydemo').springy({
    graph: graph
  });
}

</script>
<div>
	<div>
		<div class="col-md-10 col-md-offset-1 panel panel-default">
			<div class="col-md-3">
				<div ng-repeat="prop in props">
					{{prop}}
				</div>
			</div>
			<div class="col-md-1">
				<div ng-repeat="count in propClicks track by $index">
					{{count}}
				</div>
			</div>
			<div class="col-md-8">
				<canvas id="admin-bar-chart" style="max-height:50%;"></canvas>			
			</div>		
		</div>
		<div id="userjourney">
			<div id="useridOptions">
				<select id="useridList"></select>
			</div>
			<canvas id="springydemo" width="1000" height="600" />
		</div>
        
        <div class="col-md-10 col-md-offset-1 panel panel-default">
			<div class="col-md-3">
				<div ng-repeat="prop in props1">
					{{prop}}
				</div>
			</div>
			<div class="col-md-1">
				<div ng-repeat="countReview in countReviews track by $index">
					{{count}}
				</div>
			</div>
			<div class="col-md-8">
				<canvas id="admin-bar-chart-review" style="max-height:50%;"></canvas>			
			</div>		
		</div>
        
        
      
        
        
        
        
        
        
        


	</div>
</div>