<div class="left-backdrop"></div>
<div class="right-backdrop hide-sm bg-white right-backdrop--with-bg"></div>
<div class="list-your-space__content">
	<div class="centered-content clearfix">
		<div data-reactid=".1hacy163gg.1.4.0.0">
			<div class="main-panel-container no-padding-h bg-white main-panel-outer-half clearfix" tabindex="-1">
				<div class="main-panel main-panel-padding main-panel-progress pull-right main-panel-inner-half space-sm-8">
					<div class="panel--no-border panel-title">
						<h3 class="no-margin-padding">Where’s your place located?</h3>
					</div>
					<div class="text-danger">{{invAddress}}</div>
					<div class="text-success">{{matchedAddMessage}}</div>
					<div class="text-primary">{{guessedAddMessage}}</div>
					<div>
						<form>
							<div>
								<label for="address-form-field-country_code"> <span>Country</span>
								</label>
								<div class="select select-block select-jumbo whole-width">
									<select class="" name="country_code" id="address-form-field-country_code" ng-model="country">
										<option value="">Select country</option>
										<option value="AF" data-prefix="93">Afghanistan</option>
										<option value="AX" data-prefix="358">Åland Islands</option>
										<option value="AL" data-prefix="355">Albania</option>
										<option value="DZ" data-prefix="213">Algeria</option>
										<option value="AS" data-prefix="1">American Samoa</option>
										<option value="AD" data-prefix="376">Andorra</option>
										<option value="AO" data-prefix="244">Angola</option>
										<option value="AI" data-prefix="1">Anguilla</option>
										<option value="AG" data-prefix="1">Antigua and Barbuda</option>
										<option value="AR" data-prefix="54">Argentina</option>
										<option value="AM" data-prefix="374">Armenia</option>
										<option value="AW" data-prefix="297">Aruba</option>
										<option value="AU" data-prefix="61">Australia</option>
										<option value="AT" data-prefix="43">Austria</option>
										<option value="AZ" data-prefix="994">Azerbaijan</option>
										<option value="BS" data-prefix="1">Bahamas</option>
										<option value="BH" data-prefix="973">Bahrain</option>
										<option value="BD" data-prefix="880">Bangladesh</option>
										<option value="BB" data-prefix="1">Barbados</option>
										<option value="BY" data-prefix="375">Belarus</option>
										<option value="BE" data-prefix="32">Belgium</option>
										<option value="BZ" data-prefix="501">Belize</option>
										<option value="BJ" data-prefix="229">Benin</option>
										<option value="BM" data-prefix="1">Bermuda</option>
										<option value="BT" data-prefix="975">Bhutan</option>
										<option value="BO" data-prefix="591">Bolivia</option>
										<option value="BA" data-prefix="387">Bosnia and Herzegovina</option>
										<option value="BW" data-prefix="267">Botswana</option>
										<option value="BR" data-prefix="55">Brazil</option>
										<option value="IO" data-prefix="246">British Indian Ocean Territory</option>
										<option value="VG" data-prefix="1">British Virgin Islands</option>
										<option value="BN" data-prefix="673">Brunei</option>
										<option value="BG" data-prefix="359">Bulgaria</option>
										<option value="BF" data-prefix="226">Burkina Faso</option>
										<option value="BI" data-prefix="257">Burundi</option>
										<option value="KH" data-prefix="855">Cambodia</option>
										<option value="CM" data-prefix="237">Cameroon</option>
										<option value="CA" data-prefix="1">Canada</option>
										<option value="CV" data-prefix="238">Cape Verde</option>
										<option value="BQ" data-prefix="599">Caribbean Netherlands</option>
										<option value="KY" data-prefix="1">Cayman Islands</option>
										<option value="CF" data-prefix="236">Central African Republic</option>
										<option value="TD" data-prefix="235">Chad</option>
										<option value="CL" data-prefix="56">Chile</option>
										<option value="CN" data-prefix="86">China</option>
										<option value="CX" data-prefix="61">Christmas Island</option>
										<option value="CC" data-prefix="61">Cocos [Keeling] Islands</option>
										<option value="CO" data-prefix="57">Colombia</option>
										<option value="KM" data-prefix="269">Comoros</option>
										<option value="CG" data-prefix="242">Congo</option>
										<option value="CK" data-prefix="682">Cook Islands</option>
										<option value="CR" data-prefix="506">Costa Rica</option>
										<option value="HR" data-prefix="385">Croatia</option>
										<option value="CU" data-prefix="53">Cuba</option>
										<option value="CW" data-prefix="599">Curaçao</option>
										<option value="CY" data-prefix="357">Cyprus</option>
										<option value="CZ" data-prefix="420">Czech Republic</option>
										<option value="CD" data-prefix="243">Democratic Republic of the Congo</option>
										<option value="DK" data-prefix="45">Denmark</option>
										<option value="DJ" data-prefix="253">Djibouti</option>
										<option value="DM" data-prefix="1">Dominica</option>
										<option value="DO" data-prefix="1" data-reactid=".1hacy163gg.1.4.0.0.0.1.1.1.0.1.0.1:$DO">Dominican Republic</option>
										<option value="TL" data-prefix="670">East Timor</option>
										<option value="EC" data-prefix="593">Ecuador</option>
										<option value="EG" data-prefix="20">Egypt</option>
										<option value="SV" data-prefix="503">El Salvador</option>
										<option value="GQ" data-prefix="240">Equatorial Guinea</option>
										<option value="ER" data-prefix="291">Eritrea</option>
										<option value="EE" data-prefix="372">Estonia</option>
										<option value="ET" data-prefix="251">Ethiopia</option>
										<option value="FK" data-prefix="500">Falkland Islands [Islas Malvinas]</option>
										<option value="FO" data-prefix="298">Faroe Islands</option>
										<option value="FJ" data-prefix="679">Fiji</option>
										<option value="FI" data-prefix="358">Finland</option>
										<option value="FR" data-prefix="33">France</option>
										<option value="GF" data-prefix="594">French Guiana</option>
										<option value="PF" data-prefix="689">French Polynesia</option>
										<option value="GA" data-prefix="241">Gabon</option>
										<option value="GM" data-prefix="220">Gambia</option>
										<option value="GE" data-prefix="995">Georgia</option>
										<option value="DE" data-prefix="49">Germany</option>
										<option value="GH" data-prefix="233">Ghana</option>
										<option value="GI" data-prefix="350">Gibraltar</option>
										<option value="GR" data-prefix="30">Greece</option>
										<option value="GL" data-prefix="299">Greenland</option>
										<option value="GD" data-prefix="1">Grenada</option>
										<option value="GP" data-prefix="590">Guadeloupe</option>
										<option value="GU" data-prefix="1">Guam</option>
										<option value="GT" data-prefix="502">Guatemala</option>
										<option value="GG" data-prefix="44">Guernsey</option>
										<option value="GN" data-prefix="224">Guinea</option>
										<option value="GW" data-prefix="245">Guinea-Bissau</option>
										<option value="GY" data-prefix="592">Guyana</option>
										<option value="HT" data-prefix="509">Haiti</option>
										<option value="HN" data-prefix="504">Honduras</option>
										<option value="HK" data-prefix="852">Hong Kong</option>
										<option value="HU" data-prefix="36">Hungary</option>
										<option value="IS" data-prefix="354">Iceland</option>
										<option value="IN" data-prefix="91">India</option>
										<option value="ID" data-prefix="62">Indonesia</option>
										<option value="IQ" data-prefix="964">Iraq</option>
										<option value="IE" data-prefix="353">Ireland</option>
										<option value="IM" data-prefix="44">Isle of Man</option>
										<option value="IL" data-prefix="972">Israel</option>
										<option value="IT" data-prefix="39">Italy</option>
										<option value="CI" data-prefix="225">Ivory Coast</option>
										<option value="JM" data-prefix="1">Jamaica</option>
										<option value="JP" data-prefix="81">Japan</option>
										<option value="JE" data-prefix="44">Jersey</option>
										<option value="JO" data-prefix="962">Jordan</option>
										<option value="KZ" data-prefix="7">Kazakhstan</option>
										<option value="KE" data-prefix="254">Kenya</option>
										<option value="KI" data-prefix="686">Kiribati</option>
										<option value="KW" data-prefix="965">Kuwait</option>
										<option value="KG" data-prefix="996">Kyrgyzstan</option>
										<option value="LA" data-prefix="856">Laos</option>
										<option value="LV" data-prefix="371">Latvia</option>
										<option value="LB" data-prefix="961">Lebanon</option>
										<option value="LS" data-prefix="266">Lesotho</option>
										<option value="LR" data-prefix="231">Liberia</option>
										<option value="LY" data-prefix="218">Libya</option>
										<option value="LI" data-prefix="423">Liechtenstein</option>
										<option value="LT" data-prefix="370">Lithuania</option>
										<option value="LU" data-prefix="352">Luxembourg</option>
										<option value="MO" data-prefix="853">Macau</option>
										<option value="MK" data-prefix="389">Macedonia</option>
										<option value="MG" data-prefix="261">Madagascar</option>
										<option value="MW" data-prefix="265">Malawi</option>
										<option value="MY" data-prefix="60">Malaysia</option>
										<option value="MV" data-prefix="960">Maldives</option>
										<option value="ML" data-prefix="223">Mali</option>
										<option value="MT" data-prefix="356">Malta</option>
										<option value="MH" data-prefix="692">Marshall Islands</option>
										<option value="MQ" data-prefix="596">Martinique</option>
										<option value="MR" data-prefix="222">Mauritania</option>
										<option value="MU" data-prefix="230">Mauritius</option>
										<option value="YT" data-prefix="262">Mayotte</option>
										<option value="MX" data-prefix="52">Mexico</option>
										<option value="FM" data-prefix="691">Micronesia</option>
										<option value="MD" data-prefix="373">Moldova</option>
										<option value="MC" data-prefix="377">Monaco</option>
										<option value="MN" data-prefix="976">Mongolia</option>
										<option value="ME" data-prefix="382">Montenegro</option>
										<option value="MS" data-prefix="1">Montserrat</option>
										<option value="MA" data-prefix="212">Morocco</option>
										<option value="MZ" data-prefix="258">Mozambique</option>
										<option value="MM" data-prefix="95">Myanmar [Burma]</option>
										<option value="NA" data-prefix="264">Namibia</option>
										<option value="NR" data-prefix="674">Nauru</option>
										<option value="NP" data-prefix="977">Nepal</option>
										<option value="NL" data-prefix="31">Netherlands</option>
										<option value="NC" data-prefix="687">New Caledonia</option>
										<option value="NZ" data-prefix="64">New Zealand</option>
										<option value="NI" data-prefix="505">Nicaragua</option>
										<option value="NE" data-prefix="227">Niger</option>
										<option value="NG" data-prefix="234">Nigeria</option>
										<option value="NU" data-prefix="683">Niue</option>
										<option value="NF" data-prefix="672">Norfolk Island</option>
										<option value="MP" data-prefix="1">Northern Mariana Islands</option>
										<option value="NO" data-prefix="47">Norway</option>
										<option value="OM" data-prefix="968">Oman</option>
										<option value="PK" data-prefix="92">Pakistan</option>
										<option value="PW" data-prefix="680">Palau</option>
										<option value="PS" data-prefix="970">Palestinian Territories</option>
										<option value="PA" data-prefix="507">Panama</option>
										<option value="PG" data-prefix="675">Papua New Guinea</option>
										<option value="PY" data-prefix="595">Paraguay</option>
										<option value="PE" data-prefix="51">Peru</option>
										<option value="PH" data-prefix="63">Philippines</option>
										<option value="PN" data-prefix="64">Pitcairn Islands</option>
										<option value="PL" data-prefix="48">Poland</option>
										<option value="PT" data-prefix="351">Portugal</option>
										<option value="PR" data-prefix="1">Puerto Rico</option>
										<option value="QA" data-prefix="974">Qatar</option>
										<option value="RE" data-prefix="262">Réunion</option>
										<option value="RO" data-prefix="40">Romania</option>
										<option value="RU" data-prefix="7">Russia</option>
										<option value="RW" data-prefix="250">Rwanda</option>
										<option value="BL" data-prefix="590">Saint Barthélemy</option>
										<option value="SH" data-prefix="290">Saint Helena</option>
										<option value="KN" data-prefix="1">Saint Kitts and Nevis</option>
										<option value="LC" data-prefix="1">Saint Lucia</option>
										<option value="MF" data-prefix="590">Saint Martin</option>
										<option value="PM" data-prefix="508">Saint Pierre and Miquelon</option>
										<option value="VC" data-prefix="1">Saint Vincent and the Grenadines</option>
										<option value="WS" data-prefix="685">Samoa</option>
										<option value="SM" data-prefix="378">San Marino</option>
										<option value="ST" data-prefix="239">São Tomé and Príncipe</option>
										<option value="SA" data-prefix="966">Saudi Arabia</option>
										<option value="SN" data-prefix="221">Senegal</option>
										<option value="RS" data-prefix="381">Serbia</option>
										<option value="SC" data-prefix="248">Seychelles</option>
										<option value="SL" data-prefix="232">Sierra Leone</option>
										<option value="SG" data-prefix="65">Singapore</option>
										<option value="SX" data-prefix="1">Sint Maarten</option>
										<option value="SK" data-prefix="421">Slovakia</option>
										<option value="SI" data-prefix="386">Slovenia</option>
										<option value="SB" data-prefix="677">Solomon Islands</option>
										<option value="SO" data-prefix="252">Somalia</option>
										<option value="ZA" data-prefix="27">South Africa</option>
										<option value="GS" data-prefix="500">South Georgia and the South Sandwich Islands</option>
										<option value="KR" data-prefix="82">South Korea</option>
										<option value="SS" data-prefix="211">South Sudan</option>
										<option value="ES" data-prefix="34">Spain</option>
										<option value="LK" data-prefix="94">Sri Lanka</option>
										<option value="SR" data-prefix="597">Suriname</option>
										<option value="SJ" data-prefix="47">Svalbard and Jan Mayen</option>
										<option value="SZ" data-prefix="268">Swaziland</option>
										<option value="SE" data-prefix="46">Sweden</option>
										<option value="CH" data-prefix="41">Switzerland</option>
										<option value="TW" data-prefix="886">Taiwan</option>
										<option value="TJ" data-prefix="992">Tajikistan</option>
										<option value="TZ" data-prefix="255">Tanzania</option>
										<option value="TH" data-prefix="66">Thailand</option>
										<option value="TG" data-prefix="228">Togo</option>
										<option value="TK" data-prefix="690">Tokelau</option>
										<option value="TO" data-prefix="676">Tonga</option>
										<option value="TT" data-prefix="1">Trinidad and Tobago</option>
										<option value="TN" data-prefix="216">Tunisia</option>
										<option value="TR" data-prefix="90">Turkey</option>
										<option value="TM" data-prefix="993">Turkmenistan</option>
										<option value="TC" data-prefix="1">Turks and Caicos Islands</option>
										<option value="TV" data-prefix="688">Tuvalu</option>
										<option value="VI" data-prefix="1">U.S. Virgin Islands</option>
										<option value="UG" data-prefix="256">Uganda</option>
										<option value="UA" data-prefix="380">Ukraine</option>
										<option value="AE" data-prefix="971">United Arab Emirates</option>
										<option value="GB" data-prefix="44">United Kingdom</option>
										<option selected="" value="US">United States</option>
										<option value="UY" data-prefix="598">Uruguay</option>
										<option value="UZ" data-prefix="998">Uzbekistan</option>
										<option value="VU" data-prefix="678">Vanuatu</option>
										<option value="VA" data-prefix="379">Vatican City</option>
										<option value="VE" data-prefix="58">Venezuela</option>
										<option value="VN" data-prefix="84">Vietnam</option>
										<option value="WF" data-prefix="681">Wallis and Futuna</option>
										<option value="EH" data-prefix="212">Western Sahara</option>
										<option value="YE" data-prefix="967">Yemen</option>
										<option value="ZM" data-prefix="260">Zambia</option>
										<option value="ZW" data-prefix="263">Zimbabwe</option>
									</select>
								</div>
							</div>
							<div>
								<div class="space-top-2 col-sm-12">
									<label for="address-form-field-street">
										<span>Street Address</span>
									</label>
									<input class="input input-block input-jumbo lys-address-form__input lys-invalid" id="address-form-field-street" name="street" type="text" autocomplete="off" placeholder="e.g. 123 Main St." ng-model="street">
								</div>
								<div class="space-top-2 col-sm-12">
									<label for="address-form-field-apt">
										<span>Apt, Suite, Bldg.(optional)</span>
									</label>
									<input class="input input-block input-jumbo lys-address-form__input" id="address-form-field-apt" name="apt" type="text" autocomplete="off" placeholder="e.g. Apt #7" ng-model="apt">
								</div>
								<div class="space-top-2 col-sm-12 col-md-6">
									<label for="address-form-field-city">
										<span>City</span>
									</label>
									<input class="input input-block input-jumbo lys-address-form__input lys-invalid" id="address-form-field-city" name="city" type="text" autocomplete="off" placeholder="e.g. San Francisco" ng-model="city">
								</div>
								<div class="space-top-2 col-sm-12 col-md-6">
									<label for="address-form-field-state">
										<span>State</span>
									</label>
									<input class="input input-block input-jumbo lys-address-form__input lys-invalid" id="address-form-field-state" name="state" type="text" autocomplete="off" placeholder="e.g. CA" ng-model="state">
								</div>
								<div class="space-top-2 col-sm-12 col-md-6">
									<label for="address-form-field-zipcode">
										<span>ZIP Code</span>
									</label>
									<input class="input input-block input-jumbo lys-address-form__input lys-invalid" id="address-form-field-zipcode" name="zipcode" type="text" autocomplete="off" placeholder="e.g. 94103" ng-model="zip">
								</div>
								<div class="space-top-10 col-sm-12 col-md-6">
									<a class="btn btn-large btn-progress-next btn-large__next-btn pull-right-md btn-primary" ng-click="validateAddress()">
										<div class="btn-progress-next__text">
											<span>Validate</span>
										</div></a>
								</div>
							</div>
						</form>
					</div>

				</div>

				<div class="main-panel__actions-wrapper">
					<div class="centered-content clearfix">
						<div class="bg-white main-panel-outer-half clearfix shadowed">
							<div class="no-margin-padding__sm main-panel-padding main-panel-progress pull-right main-panel-inner-half space-sm-8">
								<div class="divider hide-sm"></div>
								<div class="row no-margin-padding__sm">
									<div class="main-panel__actions col-sm-12 no-margin-padding__sm">
										<div>
											<a class="btn-progress-back link-icon va-container va-container-v pull-left text-gray link--accessibility-outline" ng-click="becomeHostBeds()">
												<span class="icon hide-sm"></span>
												<span class="va-middle">
													<h5 class="text-normal">
														<span>Back</span>
													</h5>
												</span>
											</a>

											<a class="btn btn-large btn-progress-next btn-large__next-btn pull-right-md btn-primary" ng-click="becomeHost()">
												<div class="btn-progress-next__text">
													<span>Next</span>
												</div></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="waypoint-container">
					<span style="font-size: 0;"></span>
				</div>
			</div>
			<div class="help-panel-container">
				<div class="hide-sm help-panel panel">
					<div class="panel-body">
						<div class="help-panel__bulb-img space-2"></div>
						<div class="help-panel__text">
							<div>
								<p>
									<span>Your exact address will only be shared with confirmed guests.</span>
								</p>
								<div></div>
							</div>
						</div>
					</div>
				</div>
				<div class="show-sm help-panel__floating-container">
					<span class="tooltip-popup__transition-container">
						<div class="help-panel--collapsed help-panel__bulb-img-bubble">
							<div class="help-panel__bulb-img img-center"></div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>