<div class="container" style="padding-left: 13%; padding-right: 13%">
  <div class="panel">
    <div class="panel-body panel-light">
      <h1 ng-if= noPendingTripsFoundMsg> You dont have any trips pending for approval. </h1>
      <!-- for ng repeat -->
      <div class="row" ng-if= !noPendingTripsFoundMsg ng-repeat="pendingApprovalTrip in pendingApprovalTrips">
        <div class="col-md-6 col-sm-6 co-xs-12 gal-item">
        <a ng-click= transitionToProperty(property._id) id="property-display">

            <div id="tripsProperty" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" id="carousel-properties" role="listbox">
                <div class="item active">
                  <img src="{{pendingApprovalTrip.propertyDetails.images[0]}}" alt="First slide">
                </div>
                <div class="item">
                  <img src="{{pendingApprovalTrip.propertyDetails.images[0]}}" alt="Second slide">
                </div>
                <div class="item">
                  <img src="{{pendingApprovalTrip.images[0]}}" alt="Third slide">
                </div>
              </div>
              <a class="left carousel-control" data-target="#carousel-example-generic" role="button" data-slide="prev">
                <span class="icon-prev" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" data-target="#tripsProperty" role="button" data-slide="next">
                <span class="icon-next" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <br/>
            <span style="margin-left:4%"></span><br/>
          </a>
        </div>

        <div class="col-md-6 col-dm-6 col-xs-12">
          <!-- trip title -->
          <div class="space-5">
            <h3 class="landing__title-title">
            	<span class="font-airbnb">{{pendingApprovalTrip.propertyDetails.title}}</span>
            </h3>
            <span class="font-airbnb-faded"><b>Start date: </b>{{pendingApprovalTrip.from_date}}</span>
            <br/>
            <span class="font-airbnb-faded"><b>End date: </b>{{pendingApprovalTrip.till_date}}</span>
            <br/>
            <span class="font-airbnb-faded"><b>Price paid: </b>{{pendingApprovalTrip.propertyDetails.price}}</span>
            <br/>
            <span class="font-airbnb-faded">
              <button class="btn btn-primary" ng-click="editTrip(pendingApprovalTrip.id, pendingApprovalTrip.from_date, pendingApprovalTrip.till_date, $index)">Edit trip</button>
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>
  <script src="/scripts/util.client.logging.js"></script>
</div>
