
<div class="panel  " ng-controller="controllerApprovals">

  <div class="panel-body">


<!--      <img src="https://ucarecdn.com/8d97a055-e490-41f6-8ff7-deae143116d6/faak.jpg">-->
  <div class = "container" style="padding-left: 5%; padding-right: 15%">
      <div class=" space-top-4 ">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Property title</th>
                <th>Client</th>
                <th>From</th>
                <th>To</th>
                <th>Approve Request</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="pendingApproval in allPendingApprovals">
                  <td title="'Property title'">
                      {{pendingApproval.propertyDetails.title}}</td>
                  <td >
                      {{pendingApproval.userDetails.username}}</td>
                  <td>
                      {{pendingApproval.from_date}}</td>
                  <td>
                      {{pendingApproval.till_date}}</td>
                  <td>
                    <button class="btn btn-primary" id="checkAvailabilityStatus" ng-show= !pendingApproval.checkAvailabilityStatus ng-click="checkPropertyAvailability(pendingApproval.prop_id, pendingApproval.user_id, pendingApproval.from_date, pendingApproval.till_date, $index)">
                      Check Availability
                    </button>
                    <span ng-if= notAvailableMsg> Sorry, the rooms not available for the dates. </span>
                    <button class="btn btn-primary" id="approveBooking" ng-show= pendingApproval.approveBooking ng-click="ApproveBooking(pendingApproval.prop_id, pendingApproval.user_id, pendingApproval.from_date, pendingApproval.till_date, $index)">
                      Approve
                    </button>
                    <button class="btn btn-primary" id="approveBooking" ng-show= pendingApproval.approveBooking ng-click="disapproveBooking(pendingApproval.prop_id, pendingApproval.user_id, pendingApproval.from_date, pendingApproval.till_date, $index)">
                      Disapprove
                    </button>
                    <button class="btn btn-primary" id="generateBill" ng-show= pendingApproval.generateBill>
                      Generate Bill
                    </button>
                  </td>
              </tr>
            </tbody>
        </table>

      </div>
    </div>
  </div>
  <script src="/scripts/util.client.logging.js"></script>
</div>
