<div class="flash-container"></div>
<main id="site-content" role="main">
<div id="lys-redesign-div">
        <style data-aphrodite></style>
        <div data-hypernova-key="list_your_spacebundlejs">
            <div>
                   <div class="full-backdrop"></div>
                    <div class="list-your-space__content">
                        <div class="centered-content clearfix">
                            <div class="main-panel-container no-padding-h bg-white col-sm-12 no-padding-h">
                                 <div class="main-panel main-panel-padding main-panel-progress col-sm-12 main-panel-inner-full space-sm-8">
                                    <div class="panel--no-border panel-title">
                                        <h3 class="no-margin-padding">Show travelers what your space looks like</h3>
                                    </div>
                                    <div class="row extend-margin-h photo-card__content space-4">
                                       <!-- <div class="help-panel__floating-container"
                                             data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0">
                                            <noscript data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.0"></noscript>
                                            <span class="tooltip-popup__transition-container"
                                                  data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1"><div
                                                    class="help-panel&#45;&#45;expanded help-panel__floating-panel bg-white help-panel__floating-panel&#45;&#45;downward help-panel__floating-panel&#45;&#45;leftward"
                                                    data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=1$expanded">
												<div class="help-panel__bulb-img"
                                                     data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=1$expanded.0"></div>
												<div class="help-panel__close-icon"
                                                     data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=1$expanded.1"></div>
												<div
                                                        class="help-panel__floating-panel-body help-panel__text"
                                                        data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=1$expanded.2">
													<div class="lys-carousel"
                                                         data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=1$expanded.2.1">
														<div class="lys-carousel__height-container"
                                                             data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=1$expanded.2.1.0">
															<span
                                                                    data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=1$expanded.2.1.0.0"><div
                                                                    data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=1$expanded.2.1.0.0.$=1$0">
																	<div
                                                                            data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=1$expanded.2.1.0.0.$=1$0.$=10">
																		<div class="photo-image__help-tip-1 img-center"
                                                                             data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=1$expanded.2.1.0.0.$=1$0.$=10.0"></div>
																		<p class="space-top-2"
                                                                           data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=1$expanded.2.1.0.0.$=1$0.$=10.1">
																			<span
                                                                                    data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=1$expanded.2.1.0.0.$=1$0.$=10.1.0">Many
																				hosts have at least 8 photos. You can start with
																				just one photo and come back later to add more.
																				Including photos of all the spaces a guest can use
																				helps guests imagine staying at your place.</span>
																		</p>
																	</div>
																</div></span>
														</div>
														<div class="flex-container-h space-top-4"
                                                             data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=1$expanded.2.1.1">
															<div class="flex-item"
                                                                 data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=1$expanded.2.1.1.0">
																<button aria-label="Back"
                                                                        class="lys-carousel__button lys-carousel__button&#45;&#45;prev btn btn-large"
                                                                        disabled=""
                                                                        data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=1$expanded.2.1.1.0.0">
																	<i class="icon icon-arrow-large-left"
                                                                       data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=1$expanded.2.1.1.0.0.0"></i>
																</button>
															</div>
															<div
                                                                    class="flex-item flex-item-fill-parent text-center help-panel__carousel-progress"
                                                                    data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=1$expanded.2.1.1.1">
																<i class="dot help-panel__carousel-dot dot-gray"
                                                                   data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=1$expanded.2.1.1.1.$0"></i><i
                                                                    class="dot help-panel__carousel-dot dot-light-gray"
                                                                    data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=1$expanded.2.1.1.1.$1"></i><i
                                                                    class="dot help-panel__carousel-dot dot-light-gray"
                                                                    data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=1$expanded.2.1.1.1.$2"></i>
															</div>
															<div class="flex-item"
                                                                 data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=1$expanded.2.1.1.2">
																<button aria-label="Next"
                                                                        class="lys-carousel__button lys-carousel__button&#45;&#45;next btn btn-large"
                                                                        data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=1$expanded.2.1.1.2.0">
																	<i class="icon icon-arrow-large-right"
                                                                       data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=1$expanded.2.1.1.2.0.0"></i>
																</button>
															</div>
														</div>
													</div>
												</div>
											</div>
											<noscript data-reactid=".hqu2nc04qo.1.4.0.0.1.1:0.0.1.$=11"></noscript></span>
                                        </div>-->
                                 <div class="row no-margin-h">
                                   <div class="col-sm-12 space-4">
                                       <div>
                                             <input class="input-file" type="file" id="photo-image" name="image"
                                                           accept="image/jpg, image/jpeg, image/png, image/gif"
                                                           multiple=""/>
                                                    <label class="col label--no-margin-padding" for="photo-image">
                                  <div class="panel-body photos__empty-frame photos__empty-drag-highlight va-container va-container-h va-container-v">
                                                    <div class="va-middle text-center text-gray img__upload-photos-ghosts">
                                                        <div class="col col-center">
                                                            <div class="btn btn-primary btn-jumbo">
                                                                <i class="icon icon-upload"></i><span>	</span>
                                                                <span>Upload Photos</span>
                                                            </div>
                                                            <div class="row space-top-2">
                                                                <div class="h4 text-normal">
																		<span>or drag them in</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-panel__actions-wrapper">
                                    <div class="centered-content clearfix">
                                      <div class="bg-white col-sm-12 no-padding-h shadowed">
                                        <div class="no-margin-padding__sm main-panel-padding main-panel-progress col-sm-12 main-panel-inner-full space-sm-8">
                                           <div class="divider hide-sm"></div>
                                            <div class="row no-margin-padding__sm">
                                              <div  class="main-panel__actions col-sm-12 no-margin-padding__sm">
                                               <div>
                                          <a class="btn-progress-back link-icon va-container va-container-v pull-left text-gray link--accessibility-outline"
                                                                   ng-click="becomeHost()">
                                              <span class="icon hide-sm"></span>
                                              <span class="va-middle">
                                                  <h5 class="text-normal">
													 <span>Back</span>
                                                  </h5>
                                              </span>
                                          </a>
                                                   <a class="btn btn-large btn-progress-next btn-large__next-btn pull-right-md"  ng-click="becomeHostDesc()">
                                                       <div class="btn-progress-next__text">
																<span>Next</span>
                                                        </div>
                                                   </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="waypoint-container">
								<span style="font-size: 0;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>

