<div class="left-backdrop"></div>
<div class="right-backdrop hide-sm bg-white right-backdrop--with-bg"></div>
<div class="list-your-space__content">
	<div class="centered-content clearfix">
		<div class="main-panel-container no-padding-h bg-white main-panel-outer-half clearfix" tabindex="-1">
			<div class="main-panel main-panel-padding main-panel-progress pull-right main-panel-inner-half space-sm-8">
				<div class="panel--no-border panel-title">
					<h3 class="no-margin-padding">How many bathrooms?</h3>
				</div>
				<div class="row space-4 no-margin-h">
					<div>
						<div class="increment-btn no-padding">
							<div class="increment-btn btn-group no-padding">
								<div class="text-gray btn increment-btn__label increment-jumbo increment-btn__label--with-increment-btns" tabindex="0" role="textbox">
									<div class="increment-btn__border-container-label text-truncated">
										<span class="text-muted">
											<span>0 bathrooms</span>
										</span>
									</div>
								</div>
								<button type="button" class="btn btn-jumbo increment-btn__decrementer" aria-label="minus 1">
									<div class="increment-btn__border-container-decrementer"></div>
								</button>
								<button type="button" class="btn btn-jumbo increment-btn__incrementer increment-btn__incrementer" aria-label="plus 1"></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="main-panel__actions-wrapper">
				<div class="centered-content clearfix">
					<div class="bg-white main-panel-outer-half clearfix shadowed">
						<div class="no-margin-padding__sm main-panel-padding main-panel-progress pull-right main-panel-inner-half space-sm-8">
							<div class="divider hide-sm">
							</div>
							<div class="row no-margin-padding__sm">
								<div class="main-panel__actions col-sm-12 no-margin-padding__sm">
									<div>
										<a class="btn-progress-back link-icon va-container va-container-v pull-left text-gray link--accessibility-outline" ng-click="becomeHostBeds()">
											<span class="icon hide-sm"></span>
											<span class="va-middle">
												<h5 class="text-normal">
													<span>Back</span>
												</h5>
											</span>
										</a>
										<a class="btn btn-large btn-progress-next btn-large__next-btn pull-right-md btn-primary" ng-click="becomeHostLocation()" id="step2-BecomeHostBath">
											<div class="btn-progress-next__text">
												<span>Next</span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="waypoint-container">
				<span style="font-size:0;"></span>
			</div>
		</div>
		<div class="help-panel-container">
			<div class="hide-sm help-panel panel">
				<div class="panel-body">
					<div class="help-panel__bulb-img space-2"></div>
					<div class="help-panel__text">
						<div>
							<p><span>If you have a toilet separate from the shower, count it as a 0.5 bathroom.</span></p>
							<p><span>Count only the bathrooms guests can use.</span></p>
						</div>
					</div>
				</div>
			</div>
			<div class="show-sm help-panel__floating-container">
				<span class="tooltip-popup__transition-container">
					<div class="help-panel--collapsed help-panel__bulb-img-bubble">
						<div class="help-panel__bulb-img img-center"></div>
					</div>
				</span>
			</div>
		</div>
	</div>
	<script src="/scripts/util.client.logging.js"></script>
</div>
