<div class="left-backdrop"></div>
<div class="right-backdrop hide-sm bg-white right-backdrop--with-bg"></div>
<div class="list-your-space__content">
	<div class="centered-content clearfix">
		<div class="main-panel-container no-padding-h bg-white main-panel-outer-half clearfix" tabindex="-1">
			<div class="main-panel main-panel-padding main-panel-progress pull-right main-panel-inner-half space-sm-8">
				<div class="panel--no-border panel-title">
					<h3 class="no-margin-padding">How many guests can your place accommodate?</h3>
				</div>
				<div class="space-6">
					<div class="select select-block select-jumbo">
						<select name="bedrooms" class="">
							<option selected="" value="0">Studio</option>
							<option value="1">1 bedroom</option>
							<option value="2">2 bedrooms</option>
							<option value="3">3 bedrooms</option>
							<option value="4">4 bedrooms</option>
							<option value="5">5 bedrooms</option>
							<option value="6">6 bedrooms</option>
							<option value="7">7 bedrooms</option>
							<option value="8">8 bedrooms</option>
							<option value="9">9 bedrooms</option>
							<option value="10">10 bedrooms</option>
						</select>
					</div>
				</div>
				<div class="">
					<label for="beds-select" class="text-gray">
						<span>How many beds can guests use?</span>
					</label>
					<div>
						<div class="increment-btn no-padding">
							<div class="increment-btn btn-group no-padding no-border-bottom-radius">
								<div class="text-gray btn increment-btn__label increment-jumbo increment-btn__label--with-increment-btns" tabindex="0" role="textbox">
									<div class="increment-btn__border-container-label text-truncated">
										<span class="text-muted">
											<span>1 bed</span>
										</span>
									</div>
								</div>
								<button type="button" class="btn btn-jumbo increment-btn__decrementer" disabled="" aria-label="minus 1">
									<div class="increment-btn__border-container-decrementer"></div>
								</button>
								<button type="button" class="btn btn-jumbo increment-btn__incrementer increment-btn__incrementer" aria-label="plus 1"></button>
							</div>
						</div>
					</div>
					<div>
						<div class="select select-block select-jumbo">
							<select name="bed_types" class="no-border-top">
								<option value="real_bed">Real Bed</option>
								<option value="pull_out_sofa">Pull-out Sofa</option>
								<option value="airbed">Airbed</option>
								<option value="futon">Futon</option>
								<option value="couch">Couch</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row no-margin-h space-top-6">
					<label for="accommodates-select" class="text-gray">
						<span>How many guests can stay?</span>
					</label>
					<div>
						<div class="increment-btn no-padding">
							<div class="increment-btn btn-group no-padding">
								<div class="text-gray btn increment-btn__label increment-jumbo increment-btn__label--with-increment-btns" tabindex="0" role="textbox">
									<div class="increment-btn__border-container-label text-truncated">
										<span class="text-muted">
											<span>1 guest</span>
										</span>
									</div>
								</div>
								<button type="button" class="btn btn-jumbo increment-btn__decrementer" disabled="" aria-label="minus 1">
									<div class="increment-btn__border-container-decrementer"></div>
								</button>
								<button type="button" class="btn btn-jumbo increment-btn__incrementer increment-btn__incrementer" aria-label="plus 1"></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="main-panel__actions-wrapper">
				<div class="centered-content clearfix">
					<div class="bg-white main-panel-outer-half clearfix shadowed">
						<div class="no-margin-padding__sm main-panel-padding main-panel-progress pull-right main-panel-inner-half space-sm-8">
							<div class="divider hide-sm"></div>
							<div class="row no-margin-padding__sm">
								<div class="main-panel__actions col-sm-12 no-margin-padding__sm">
									<div>
										<a class="btn-progress-back link-icon va-container va-container-v pull-left text-gray link--accessibility-outline" href="/become-a-host/room">
											<span class="icon hide-sm"></span>
											<span class="va-middle">
												<h5 class="text-normal">
													<span>Back</span>
												</h5>
											</span>
										</a>
										<a class="btn btn-large btn-progress-next btn-large__next-btn pull-right-md btn-primary" href="/become-a-host/bathrooms">
											<div class="btn-progress-next__text">
												<span>Next</span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="waypoint-container">
				<span style="font-size:0;"></span>
			</div>
		</div>
		<div class="help-panel-container">
			<div class="hide-sm help-panel panel">
				<div class="panel-body">
					<div class="help-panel__bulb-img space-2"></div>
					<div class="help-panel__text">
						<p>
							<span>The number and type of beds you have determines how many guests can stay comfortably.</span>
						</p>
					</div>
				</div>
			</div>
			<div class="show-sm help-panel__floating-container">
				<span class="tooltip-popup__transition-container">
					<div class="help-panel--collapsed help-panel__bulb-img-bubble">
						<div class="help-panel__bulb-img img-center"></div>
					</div>
				</span>
			</div>
		</div>
	</div>
</div>