<!-- including css picker -->
<link rel='stylesheet' href='stylesheets/homepage.css' />
<link href="https://a2.muscache.com/airbnb/static/packages/common_o2.1-95d643eef69139392786405865038db8.css" media="all" rel="stylesheet" type="text/css" />
<link href="https://a1.muscache.com/airbnb/static/packages/common-e2aa11d9210d88c08eb62a0e67b5f554.css" media="all" rel="stylesheet" type="text/css" />
<link href="https://a1.muscache.com/airbnb/static/packages/address_widget-4f18ee66a37930ce1c93c8f33690c7b0.css" media="screen" rel="stylesheet" type="text/css" />
<link href="https://a2.muscache.com/airbnb/static/packages/phonenumbers-67b13441cd68e5c9161e38a0dab88b54.css" media="screen" rel="stylesheet" type="text/css" /><link href="https://a2.muscache.com/airbnb/static/business_travel/quick_enroll-9fe44fac8aa94516d93764b9b4e57633.css" media="screen" rel="stylesheet" type="text/css" /><link href="https://a1.muscache.com/airbnb/static/packages/edit_profile-ac1fc053a07a8229d28854f4afdc24e6.css" media="screen" rel="stylesheet" type="text/css" />




<div class="collapse nav navbar-collapse navbar-inverse  panel   avatar-tooltip--new" id="myNavbar">
				<!--This is the header for profile update-->
				<ul class="nav navbar-nav navbar-left" ng-show="signedin">
                    <li> <a ui-sref=".dashboard">Dashboard</a></li>
                    <!-- <li> <a ui-sref=".listing">Your Listing</a></li> --><!-- Not to be shown if the user is not a host or hasn't submitted properties for approval -->
                    <li> <a ui-sref=".trips">Your Trips</a></li>
                    <li> <a ui-sref=".profileUpdate">Profile</a></li>
                </ul>
                <!--This is the header for Host user-->
				<ul class="nav navbar-nav navbar-inverse" ng-show="signedhost">
                    <li> <a ui-sref=".dashboard" id="profile-dashboard">Dashboard</a></li>
                    <li> <a ui-sref=".listing" id="profile-listing">Your Listing</a></li>
                    <li> <a ui-sref=".trips" id="profile-trips">Your Trips</a></li>
                    <li> <a ui-sref=".profileUpdate" id="profile-profile">Profile</a></li>
                    <li> <a ui-sref=".approvals" id="approvals">Approvals</a></li>
                    <li> <a ui-sref=".history" id="history">Transaction History</a></li>
                    <li> <a ui-sref=".hostAnalytics" id="analytics">Analytics</a></li>
                </ul>
</div>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">


<div id="main" >

	<div ui-view></div>
	</div>
<script src="/scripts/util.client.logging.js"></script>
</body>
