<main id="site-content" role="main" xmlns="http://www.w3.org/1999/html">
    <div id="lys-redesign-div">
        <style data-aphrodite></style>
        <div data-hypernova-key="list_your_spacebundlejs">
            <div>
                <div class="list-your-space__progress">

                    <div class="left-backdrop"></div>
                    <div class="right-backdrop hide-sm bg-white right-backdrop--with-bg"></div>
                    <div class="list-your-space__content">
                        <div class="centered-content clearfix">
                            <div class="main-panel-container no-padding-h bg-white main-panel-outer-half clearfix">
                                <div class="main-panel main-panel-padding main-panel-progress pull-right main-panel-inner-half space-sm-8">
                                    <h1>Review User: {{booking.userDetails.firstname}}</h1>
                                    <div class="panel--no-border panel-title">
                                        <h3 class="no-margin-padding">Comments</h3>
                                    </div>
                                    <div>
                                        <fieldset class="lys-input__fieldset">
                                            <textarea class="lys-summary__textarea hide-scroll" placeholder="" ng-model="reviewPost"></textarea>
                                        </fieldset>
                                    </div>
                                    <table>
                                        <tr>
                                            <td><div class="panel--no-border panel-title">
                                                <h3 class="no-margin-padding">Rate This User&nbsp;&nbsp;</h3>
                                            </div>
                                            </td>
                                            <td><div id="stars-green" data-rating="0"></div></td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="main-panel__actions-wrapper">
                                    <div class="centered-content clearfix">
                                        <div class="bg-white main-panel-outer-half clearfix shadowed">
                                            <div class="no-margin-padding__sm main-panel-padding main-panel-progress pull-right main-panel-inner-half space-sm-8">
                                                <div class="divider hide-sm"></div>
                                                <div class="row no-margin-padding__sm">
                                                    <div class="main-panel__actions col-sm-12 no-margin-padding__sm">
                                                        <div>
                                                            <a class="btn btn-large btn-progress-next btn-large__next-btn pull-right-md btn-primary"  ng-click="saveReview(booking.userDetails.username)" id="step1-BecomeHostDescription">
                                                                <div class="btn-progress-next__text">
                                                                    <span>Submit</span>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="waypoint-container">
                                    <span style="font-size: 0;"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="/scripts/util.client.logging.js"></script>
</main>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript">


    //the $(document).ready() function is down at the bottom

    (function ( $ ) {

        $.fn.rating = function( method, options ) {
            method = method || 'create';
            // This is the easiest way to have default options.
            var settings = $.extend({
                // These are the defaults.
                limit: 5,
                value: 0,
                glyph: "glyphicon-star",
                coloroff: "lightgrey",
                coloron: "gold",
                size: "2.5em",
                cursor: "default",
                onClick: function () {},
                endofarray: "idontmatter"
            }, options );
            var style = "";
            style = style + "font-size:" + settings.size + "; ";
            style = style + "color:" + settings.coloroff + "; ";
            style = style + "cursor:" + settings.cursor + "; ";



            if (method == 'create')
            {
                //this.html('');	//junk whatever was there

                //initialize the data-rating property
                this.each(function(){
                    attr = $(this).attr('data-rating');
                    if (attr === undefined || attr === false) { $(this).attr('data-rating',settings.value); }
                })

                //bolt in the glyphs
                for (var i = 0; i < settings.limit; i++)
                {
                    this.append('<span data-value="' + (i+1) + '" class="ratingicon glyphicon ' + settings.glyph + '" style="' + style + '" aria-hidden="true"></span>');
                }

                //paint
                this.each(function() { paint($(this)); });

            }
            if (method == 'set')
            {
                this.attr('data-rating',options);
                this.each(function() { paint($(this)); });
            }
            if (method == 'get')
            {
                return this.attr('data-rating');
            }
            //register the click events
            this.find("span.ratingicon").click(function() {
                rating = $(this).attr('data-value')
                $(this).parent().attr('data-rating',rating);
                paint($(this).parent());
                settings.onClick.call( $(this).parent() );
            })
            function paint(div)
            {
                rating = parseInt(div.attr('data-rating'));
                div.find("input").val(rating);	//if there is an input in the div lets set it's value
                div.find("span.ratingicon").each(function(){	//now paint the stars

                    var rating = parseInt($(this).parent().attr('data-rating'));
                    var value = parseInt($(this).attr('data-value'));
                    if (value > rating) { $(this).css('color',settings.coloroff); }
                    else { $(this).css('color',settings.coloron); }
                })
            }

        };

    }( jQuery ));

    $(document).ready(function(){


        $("#stars-green").rating('create', {
            coloron: 'gold', onClick: function () {
                var rating = this.attr('data-rating');
            }
        });

    });

</script>

