

<div class="nav navbar-collapse navbar  panel   avatar-tooltip--new" id="myNavbar" style="padding-left: 20%; padding-right: 20%">
  <!--This is the header for Host user-->
  <ul class="nav navbar-nav">
      <li> <a ui-sref=".pendingApprovalTrips" id="profile-pendingApprovalTrips">Pending Approval Trips</a></li>
      <li> <a ui-sref=".upcomingTrips" id="profile-dashboard">Upcoming Trips</a></li>
      <li> <a ui-sref=".compeletedTrips" id="profile-listing">Completed trips</a></li>
      <li> <a ui-sref=".pendingBids" id="profile-pendingBids">Pending bids</a></li>
      <li> <a ui-sref=".approvedBids" id="profile-approvedBids">Approved bids</a></li>
  </ul>
</div>

<body id="tripsPage" data-spy="scroll" data-target=".navbar" data-offset="60">


<div id="mainTrips" >

  <div ui-view></div>
  </div>

</body>
