<main id="site-content" role="main">
 <div id="lys-redesign-div">
        <style data-aphrodite></style>
        <div data-hypernova-key="list_your_spacebundlejs">
            <div>
                <div class="list-your-space__progress">
                    <div class="left-backdrop"></div>
                    <div class="right-backdrop hide-sm bg-white right-backdrop--with-bg"></div>
                    <div class="list-your-space__content">
                        <div class="centered-content clearfix">
                            <div class="main-panel-container no-padding-h bg-white main-panel-outer-half clearfix">
                                 <div class="main-panel main-panel-padding main-panel-progress pull-right main-panel-inner-half space-sm-8">
                                    <div class="panel--no-border panel-title">
                                        <h3 class="no-margin-padding">
											<span>Base price</span>
                                        </h3>
                                    </div>
                                    <p class="text-muted">
										<span>Your base price is your default nightly rate.</span>
                                    </p>
                                    <div>
                                        <div class="space-top-4">
                                            <div>
                                                <div class="">
                                                    <label class="h4 text-muted text-normal">
                                                        <span>Base price</span>
                                                    </label>
                                                    <div>
                                                        <form name="myPrice">
                                                        <div class="increment-btn no-padding">
                                                            <div class="increment-btn btn-group no-padding">

                                                                <span>$</span>
                                                                <input class="text-gray btn increment-btn__label increment-jumbo" name="price" ng-model="price" type="number" required/>
                                                                <span>per night</span>
                                                            </div>
                                                            <div class="alert alert-danger" ng-hide="price_hide">
                                                                <strong>Price is mandatory</strong>
                                                            </div>
                                                        </div>
                                                            </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="space-top-4">
                                            <div class="">
                                                <label class="h4 text-muted text-normal">
                                                    <span>Currency</span>
                                                </label>
                                                <div class="select select-block select-large select-jumbo">
                                                    <select id="select-listing_native_currency" name="listing_native_currency" ng-model="currency">
                                                        <option value="placeholder" disabled="">Select currency</option>
                                                        <option selected="" value="CAD">CAD</option>
                                                        <option value="CLP">CLP</option>
                                                        <option value="EUR">EUR</option>
                                                        <option value="JPY">JPY</option>
                                                        <option value="USD">USD</option>
                                                        <option value="UYU">INR</option>
                                                        <option value="VND">ARG</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                     <div class="space-top-4">
                                         <div class="">
                                             <label class="h4 text-muted text-normal">
                                                 <span>Make Available for Bidding</span>

                                                     <input id="residence-type-residence_type_professional_rental" type="checkbox" name="residenceType" value="residence_type_professional_rental" class="pointer-input" ng-model="bidding">

                                             </label>

                                         </div>
                                     </div>

                                 </div>
                                </div>
                            <div class="main-panel__actions-wrapper">
                                <div class="centered-content clearfix">
                                    <div class="bg-white main-panel-outer-half clearfix shadowed">
                                        <div class="no-margin-padding__sm main-panel-padding main-panel-progress pull-right main-panel-inner-half space-sm-8">
                                            <div class="divider hide-sm"></div>
                                            <div class="row no-margin-padding__sm">
                                                <div class="main-panel__actions col-sm-12 no-margin-padding__sm">
                                                    <div>
                                                        <a class="btn-progress-back link-icon va-container va-container-v pull-left text-gray link--accessibility-outline" ng-click="becomeHost()">
                                                            <span class="icon hide-sm"></span>
                                                            <span class="va-middle">
                                                                    <h5 class="text-normal">
																		<span>Back</span>
																	</h5>
                                                                </span>
                                                        </a>
                                                        <button class="btn btn-large btn-progress-next btn-large__next-btn pull-right-md btn-primary" type="submit"  ng-click="becomeHostDates()" id="step3-BecomeHostPrice">
                                                            <div class="btn-progress-next__text">
                                                                <span>Next</span>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            </div>
                            <div class="help-panel-container">
                                <div class="hide-sm help-panel panel">
                                    <div class="panel-body">
                                        <div class="help-panel__bulb-img space-2"></div>
                                        <div class="help-panel__text">
                                            <div>
												<span class="help-panel__title">
                                                    <span>Base nightly price</span>
                                                </span>
                                                <p>
													<span>Some
														hosts start off with a lower price and raise it after
														earning positive reviews.</span>
                                                </p>
                                                <p>
													<span>You
														can always change your price in response to demand. For
														example: a higher price may help you earn more during busy
														travel seasons, while a lower price may get you more
														reservations when it’s slow.</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/scripts/util.client.logging.js"></script>
    </div>

</main>
