<div id="middle" ng-controller="controllerBecomeHost">
	<div>
		<div>
			<div class="landing-width bg-white row row-condensed list-your-space__landing-content">
						<span>
                            <div class="col-md-7 landing__left-col">
								<div class="landing__left-col-content">
									<div class="space-5">
										<h2 class="landing__title-title">
											<span>Let's	get you ready to become a host.</span>
										</h2>
									</div>
									<div>
										<div class="landing-step-collection">
											<div class="row row-condensed lys-vertical-align-middle-container">
												<div class="col-sm-10">
													<div class="va-container va-container-v va-container-h">
														<div class="va-middle">
															<div class="landing__step-content" style="transition-delay: 0ms;">
																<strong class="landing__step-number text-base text-branding">
                                                                    <span>Step 1</span></strong>
																<div class="h3 landing__subtitle-width">Start with the basics</div>
																<div class="landing__step-content-subtitle">Beds,bathrooms, amenities, and more</div>

                                                                    <div>
                                                                      		<a id="continue-step1-becomeAHost"><button class="btn btn-babu space-top-1 text-large" ng-show="step1" ng-click="startHosting1()">
																					<span>Continue</span>
																				</button>
                                                                            </a>
																			<div class="lys-vertical-align-middle space-top-6" ng-show="step1complete">
																				<span>
																					<div class="text-center">
																						<i class="icon icon-ok-fill icon-size-2 icon-babu" ></i>
																					</div>
																				</span>
																			</div>
																		</div>

															</div>
														</div>
													</div>
												</div>

											</div>
										</div>
										<hr>
									</div>
									<div>
										<div class="landing-step-collection">
											<div class="row row-condensed lys-vertical-align-middle-container">
												<div class="col-sm-10">
													<div class="va-container va-container-v va-container-h">
														<div class="va-middle">
															<div class="landing__step-content"
																 style="transition-delay: 600ms;">
																<strong class="landing__step-number text-base text-branding">
                                                                    <span>Step 2</span>
                                                                </strong>
																<div class="h3 landing__subtitle-width">Set the scene</div>
																<div class="landing__step-content-subtitle">Photos,short description, title</div>
																  	  <div>
                                                                      		<a id="continue-step2-becomeAHost"><button class="btn btn-babu space-top-1 text-large" ng-show="step2" id="step2" ng-click="startHosting2()">
																					<span>Continue</span>
																				</button>
																			 </a>
																			<div class="lys-vertical-align-middle space-top-6" ng-show="step2complete">
																				<span>
																					<div class="text-center">
																						<i class="icon icon-ok-fill icon-size-2 icon-babu" ></i>
																					</div>
																				</span>
																			</div>
																		</div>

															</div>
														</div>
													</div>
												</div>

											</div>
										</div>
										<hr>
									</div>
									<div>
										<div class="landing-step-collection">
											<div class="row row-condensed lys-vertical-align-middle-container">
												<div class="col-sm-10">
													<div class="va-container va-container-v va-container-h">
														<div class="va-middle">
															<div class="landing__step-content"
																 style="transition-delay: 600ms;">
																<strong class="landing__step-number text-base text-branding">
                                                                    <span>Step 3</span>
                                                                </strong>
																<div class="h3 landing__subtitle-width">Get ready for guests</div>
																<div class="landing__step-content-subtitle">Booking settings, calendar, price</div>
																  		<div>
																	  		<a id="continue-step3-becomeAHost"><button class="btn btn-babu space-top-1 text-large" id="step3" ng-show="step3" ng-click="startHosting3()">
																					<span>Continue</span>
																				</button>
																			</a>
																	  		<div class="lys-vertical-align-middle space-top-6" ng-show="laststp">
																				<span>
																					<div class="text-center">
																						<i class="icon icon-ok-fill icon-size-2 icon-babu" ></i>
																					</div>
																				</span>
																			</div>
																		</div>

															</div>
														</div>
													</div>
												</div>

											</div>
										</div>
										<hr>
									</div>

									<span></span>
								</div>
							</div>
                        </span>
				<img src="images/becomeHost.JPG" alt="" width="440" height="550"  />

			</div>
		</div>
	</div>
</div>
</div>
<script src="/scripts/util.client.logging.js"></script>
</div>
