<!-- including css picker -->
<link rel='stylesheet' href='stylesheets/homepage.css' />



<div class="collapse navbar-collapse navbar-inverse" id="myNavbar">				
				<!--This is the header for profile update-->
				<ul class="nav navbar-nav navbar-left" ng-show="signedin"> 
					<li><a href="#contact">Dashboard</a></li>
                    <li><a href="#contact">Profile</a></li>
					<li><a href="#contact">Your Listings</a></li>
					<li><a href="#contact">Your Trips</a></li>
                </ul>	
				
</div>

<div ui-view></div>
	</div>