<main id="site-content" role="main" xmlns="http://www.w3.org/1999/html">
    <div id="lys-redesign-div">
        <style data-aphrodite></style>
        <div data-hypernova-key="list_your_spacebundlejs">
            <div>
                <div class="list-your-space__progress">

                    <div class="left-backdrop"></div>
                    <div class="right-backdrop hide-sm bg-white right-backdrop--with-bg"></div>
                    <div class="list-your-space__content">
                        <div class="centered-content clearfix">
                            <div class="main-panel-container no-padding-h bg-white main-panel-outer-half clearfix">
                                <div class="main-panel main-panel-padding main-panel-progress pull-right main-panel-inner-half space-sm-8">
                                    <div class="panel--no-border panel-title">
                                        <h3 class="no-margin-padding">Edit your description</h3>
                                    </div>
                                    <div>
                                         <fieldset class="lys-input__fieldset">
											<textarea class="lys-summary__textarea hide-scroll" placeholder="" ng-model="description"></textarea>
                                        </fieldset>
                                        <div class="alert alert-danger" ng-hide="desc_hide">
                                            <strong>Description is mandatory</strong>
                                        </div>
                                    </div>
                                </div>

                                <div class="main-panel main-panel-padding main-panel-progress pull-right main-panel-inner-half space-sm-8">
                                    <div class="panel--no-border panel-title">
                                        <h3 class="no-margin-padding">Give your place a title</h3>
                                    </div>
                                    <div>
                                        <fieldset class="lys-input__fieldset">
                                            <textarea class="lys-summary__textarea hide-scroll" placeholder="" ng-model="title"></textarea>
                                        </fieldset>
                                        <div class="alert alert-danger" ng-hide="title_hide">
                                            <strong>Title is mandatory</strong>
                                        </div>
                                    </div>
                                </div>

                                <div class="main-panel__actions-wrapper">
                                    <div class="centered-content clearfix">
                                        <div class="bg-white main-panel-outer-half clearfix shadowed">
                                            <div class="no-margin-padding__sm main-panel-padding main-panel-progress pull-right main-panel-inner-half space-sm-8">
                                                <div class="divider hide-sm"></div>
                                                <div class="row no-margin-padding__sm">
                                                    <div class="main-panel__actions col-sm-12 no-margin-padding__sm">
                                                        <div>
                                                            <a class="btn-progress-back link-icon va-container va-container-v pull-left text-gray link--accessibility-outline" ng-click="startHosting2()">
                                                                <span class="icon hide-sm"></span>
                                                                <span class="va-middle">
                                                                    <h5 class="text-normal">
																		<span>Back</span>
																	</h5>
                                                                </span>
                                                            </a>
                                                            <a class="btn btn-large btn-progress-next btn-large__next-btn pull-right-md btn-primary"  ng-click="becomeHost()" id="step1-BecomeHostDescription">
                                                                <div class="btn-progress-next__text">
                                                                    <span>Next</span>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="waypoint-container">
									<span style="font-size: 0;"></span>
                                </div>
                            </div>
                          <div class="help-panel-container">
                                <div class="hide-sm help-panel panel">
                                    <div class="panel-body">
                                        <div class="help-panel__bulb-img space-2"></div>
                                        <div class="help-panel__text">
                                            <div>
												<span><span>Based on what you chose, this is your summary description.</span>
                                                      <span><br/></span>
                                                      <span>You can edit and change it as you see fit. Keeping it as a
														brief overview makes it easier for guests to read.
                                                      </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                        <div class="panel-body">
                                            <div class="help-panel__bulb-img space-2"></div>
                                            <div class="help-panel__text">
                                                <div>
												<span><span><strong>How travelers use titles</strong></span>
                                                      <span><br/></span></span></br>
                                                      <span>Travelers skim over the title when searching for places on Airbnb. Make titles catchy and short.</span>
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
<script src="/scripts/util.client.logging.js"></script>
</main>
