<!-- including date picker -->
<link rel='stylesheet' href='/stylesheets/datepicker.css'/>

<!--adding navbar here        -->
<div id="header">

	<nav class="navbar navbar-light bg-faded" data-offcanvass="yes">
		<a id="home-nav-img" ui-sref="home"><img  class="pull-left" src="images/logo.png" alt="" width="5%" height="5%"  /></a>
		<nav class="navbar navbar-light bg-faded" style="left: -80px; margin-right: -80px; font-weight: bold;">
			<a ui-sref="home"><img  class="pull-left" src="images/logo.png" alt="" width="5%" height="5%"/></a>
			<!-- <div class="container"> -->
				<!-- <div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">
						  <img src="logo.png" style="display: inline-block;">
						<span style="display: inline-block;"></span>
					</a>
				</div> -->
				<div class="collapse navbar-collapse" id="myNavbar">
					<!--This is a the default header of a not signed in user-->
					<ul class="nav navbar-nav navbar-right" ng-show="default">
						<!--<li><a ui-sref="home.becomeHost">Become a Host</a></li> -->
						<li><a href="#contact" class="header-airbnb-font">Help</a></li>
						<li><a data-toggle="modal" data-target="#myModalNorm" id="signup">Sign up</a></li>
						<li><a data-toggle="modal" data-target="#myModalSignIn" id="login">Login</a></li>
					</ul>
					<!--This is the header when the user has signed in and is not a host-->
					<ul class="nav navbar-nav navbar-right" ng-show="signedin">
						<li><a ui-sref="home.becomeHost" class="header-airbnb-font" id="becomeAHost">Become a Host</a></li>
						<li><a ui-sref="home.profile.trips.upcomingTrips" class="header-airbnb-font" id="becomeAHost">Trips</a></li>
						<li><a href="#contact" class="header-airbnb-font" id="help">Help</a></li>
						<li class="dropdown">
							<a ui-sref="home.profile.profileUpdate" class="dropdown-toggle header-airbnb-font" data-toggle="dropdown" id="profile-header" style="margin-top: -10px">
									<img src="./images/paris.jpg" class="img-circle" width="30px" height="30px">
							</a>
					    	<ul class="dropdown-menu" style="width: 220px; padding-top: 10px;">
                   	<li><a ui-sref="home.profile.profileUpdate" class="header-airbnb-font" id="edit-profile" style=" margin-left: -15px;">Edit Profile</a></li>
										<hr/ style="margin-left: 15px; margin-right: 15px;">
                   	<li><a ui-sref="home" ng-click="logout()" class="header-airbnb-font" id="logout" style=" margin-left: -15px;">Logout</a></li>
              	</ul>
						</li>
					</ul>
					<!--This is the header when the user has signed in and is a host-->
					<ul class="nav navbar-nav navbar-right" ng-show="signedhost">
						<li><a ui-sref="home.becomeHost" class="header-airbnb-font" id="addProperty">Add Property</a></li>
						<li><a href="#contact" class="header-airbnb-font" id="help">Help</a></li>
						<li class="dropdown"><a ui-sref="home.profile.profileUpdate" class="dropdown-toggle header-airbnb-font" data-toggle="dropdown" style="margin-top: -10px">
								<img src="./images/paris.jpg" class="img-circle" width="30px" height="30px">
						</a>
					    	<ul class="dropdown-menu" style="width: 220px; padding-top: 10px;">
                             	<li><a ui-sref="home.profile.profileUpdate" class="header-airbnb-font" id="edit-profile-host">Edit Profile</a></li>
															<hr/ style="margin-left: 15px; margin-right: 15px;"><!-- ng-click="edit_profile()" -->
                             	<li><a  ng-click="logout()" class="header-airbnb-font" id="logout-host">Logout</a></li> <!-- ui-sref="home" -->
                        	</ul>
						</li>
					</ul>
					<!--This is the header for an Admin-->
					<div class="nav navbar-nav navbar-left" role="search" ng-show="admin">
						<form ng-submit="getHosts()" class="search-form">
							<div class="search-bar">
								<i class="header-icon icon-search-alt-gray search-icon"></i>
								<input type="text" placeholder="Search Hosts" autocomplete="on" ng-model="area" name="area" class="location" style="width: 20%;"/>
								<input type="submit" style="visibility: hidden;" />
							</div>
						</form>
					</div>
					<ul class="nav navbar-nav navbar-right" ng-show="admin">
						<li><a ui-sref="home.admin" class="header-airbnb-font" id="dashboard-admin">Dashboard</a></li>
						<li><a ui-sref="home.billing" class="header-airbnb-font" id="dashboard-admin-billing">Billing</a></li>
						<li><a ui-sref="home.pendingApprovals" class="header-airbnb-font" id="pendingApprovals-admin">Pending Approvals</a></li>
						<li><a ng-click="logout()" class="header-airbnb-font" id="logout-admin">Logout</a></li>
					</ul>
				</div>
			<!-- </div> -->
		</nav>
	</nav>
	<!-- model for sign up -->
	<!--   this is for showing models for signup     -->
	<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
			<!-- Modal Header -->
				<div class="modal-header">
					<button id="hmpgsignupclose" type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Sign up</h4>
				</div>
				<!-- Modal Body -->
				<div class="modal-body" >
					<form role="form">
						<div class="text-success">{{regsuccess}}</div>
						<div class="form-group inner-addon right-addon">
							<i class="glyphicon glyphicon-user"></i>
							<input  type="text" class="form-control" id="regfname" name="regfname" placeholder="First Name" ng-model="regfname">
							<div class="text-danger">{{invFname}}</div>
						</div>
						<div class="form-group inner-addon right-addon">
							<i class="glyphicon glyphicon-user"></i>
							<input ng-model="reglname" type="text" class="form-control" id="reglname" name="reglname" placeholder="Last Name"/>
							<div class="text-danger">{{invLname}}</div>
						</div>
						<div class="form-group inner-addon right-addon">
							<i class="glyphicon glyphicon-envelope"></i>
							<input ng-model="regemail" type="email" class="form-control" id="regemail" name="regemail" placeholder="Enter email"/>
							<div class="text-danger">{{invEmail}}</div>
						</div>
						<div class="form-group inner-addon right-addon">
							<i class="glyphicon glyphicon-lock"></i>
							<input ng-model="regpassword" type="password" class="form-control" id="regpassword" name="regpassword" placeholder="Password"/>
							<div class="text-danger">{{invPaswd}}</div>
						</div>
						<div class="form-group inner-addon right-addon">
							<i class="glyphicon glyphicon-glass"></i>
							<input ng-model="regbday" type="date" class="form-control" id="regbday" name="regbday" ng-model="regbday" />
							<div class="text-danger">{{invBday}}</div>
						</div>
						<button id="register" name="register" type="submit" class="btn btn-block signup-login-form__btn-xl btn-primary btn-danger" data-target="#myModalNorm" ng-click="signup()">Signup</button>
					</form>
				</div>
				<div class="modal-footer">
					Already have an account ?<a data-toggle="modal" data-dismiss="model" data-target="#myModalSignIn">
						<button type="button" class="btn btn-primary" id="signin">Sign in</button>
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- model for sign in -->
	<!--   this is for showing models for signin     -->
	<div class="modal fade" id="myModalSignIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
								<button id="hmpgsignupclose" type="button" class="close" data-dismiss="modal">
										<span aria-hidden="true">&times;</span>
										<span class="sr-only">Close</span>
								</button>
								<h4 class="modal-title" id="myModalLabel">Sign In</h4>
						</div>
								<!-- Modal Body -->
							<div class="modal-body">
								<form role="form">
										<div class="form-group">
												<input ng-model = "email" type="email" class="form-control" id="hmpgusername" name="hmpgusername" placeholder="Enter email"/>
										</div>
										<div class="form-group">
												<input ng-model= "password" type="password" class="form-control" id="hmpgpassword" name="hmpgpassword" placeholder="Password"/>
										</div>
										<div class="form-group clearfix space-1">
												<input type="checkbox" name="remember_me" id="remember_me2" value="true" class="remember_me">Remember me
												<a href="/forgot_password" class="forgot-password pull-right" data-from="email" id="reset-password">Reset password</a>
										</div>
										<div class="text-danger">{{invLogin}}</div>
										<button name="login" type="submit" class="btn btn-block signup-login-form__btn-xl btn-primary btn-danger" id="user-login-btn"  ng-click="signin()">
											Log in
										</button>
								</form>
							</div>
							<!-- Modal Footer -->
						<div class="modal-footer">
								Dont have an account yet?
								<a data-toggle="modal" data-dismiss="model" data-target="#myModalNorm">
									<button type="button" class="btn btn-primary" id="signup1">Sign up</button>
								</a>
						</div>
					</div>
		</div>
	</div>
</div>
<!-- main UI VIEW -->
<div ui-view>

	<div id="middle" ng-controller="controllerHome">
	<!--adding for carousal	-->
    	<div id="myCarousel" class="carousel slide">
    	<div class="carousel-inner">
      		<div class="item active">
       			<img src="../images/home2.png" alt="" width="100%" height= "40px" class="img-responsive">
           		<div class="carousel-caption">
              		<p class="lead">Homes, experiences, and places — all in one app.</p>
           			<!-- <a class="btn btn-large btn-primary" data-toggle="modal" data-target="#myModalNorm" id="signup">Sign up today</a> -->
            	</div>
	        </div>
        	<div class="item">
          		<img src="../images/home1.png" alt="" width="100%" height= "40px" class="img-responsive">
            	<div class="carousel-caption">
                    <!-- <a class="btn btn-large btn-primary" data-toggle="modal" data-target="#myModalNorm" id="signup">Sign up today</a> -->
	            </div>
        	</div>
        	<div class="item">
         		<img src="../images/home3.png" width="100%" height= "40px" alt="">
           		<div class="carousel-caption">
           			<h1 style="font-size: large">Airbnb Places</h1>
           			<p class="lead">Get lost in a city with insiders, like Woody.</p>
           			<a class="btn btn-large btn-primary" href="#">See what's New</a>
           		</div>
       		</div>
           	<div class="item">
       			<img src="../images/home4.png" width="100%" height= "40px" alt="">
           		<div class="carousel-caption">
           			<h1 style="font-size: large">Welcome to the world of trips.</h1>
           			<p class="lead">Homes, experiences, and places — all in one app.</p>
           			<a class="btn btn-large btn-primary" href="#">Browse gallery</a>
           		</div>
       		</div>
      	</div>
      	<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      	<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    	</div><!-- /.carousel -->
    	<script type="text/javascript">
  		$(document).ready(function() {
    		$('.myCarousel').carousel({
    			interval: 60
    		})
  		});
		</script>
		<!--end of carousal-->
		<div class="jumbotron text-center">
        	<h2><b><danger>Live there.</danger></b>Book unique homes and experience a city like a local.</h2>
			<div class="home-main-search row" id="home-search" content="width=device-width, initial-scale=1">
				<div class="home-main-search-flds  col-sm-4" id="home-where-search">
					<div class="home-main-dest-lbl">
						<label class="home-main-search-tag">Where</lable>
					</div>
					<div>
						<input type="text" class="col-sm-3" id="home-main-dest" placeholder="Destination" ng-model="Destination" ng-autocomplete="resultCities" details="cityDetails" options="cityOptions">
					</div>
					<div> {{resultCities}} </div>
				</div>
				<div class="home-main-search-flds col-sm-4" id="home-when-search">
					<label class="home-main-search-tag">When</label><br>
					<div id="home-main-srch-intag-cont">
						<div class="home-main-search-intag" id="home-srch-when">
							<input type="text" class="col-sm-3 home-main-srch-inp" id="datepickerWhen" placeholder="Check In">
						</div>
						<div class="home-main-search-intag" id="home-srch-till">
							<input type="text" class="col-sm-3 home-main-srch-inp" id="datepickerTill" placeholder="Check Out">
						</div>
					</div>
				</div>
				<div class="home-main-search-flds col-sm-4" id="home-guests-srch">
					<div class="home-main-guest-lbl">
						<label class="home-main-search-tag">Guests</label>
					</div>
                	<div class="guest">
				    	<div class= "guest_inp" style="float : left ;"><input type="text" class="col-sm-3" id="home-main-guests" placeholder="Guests">
                   		</div>
						<div class="home-main-search-btn" style="float : left ;">
							<button id="home-main-srch-btn" class="btn btn-large btn-primary" ng-click="transitToProperties(resultCities)">Search</button>
						</div>
                	</div>
				</div>
			</div>
			<!-- Container (Portfolio Section) -->
			<div class="container gal-container">
				<div class="col-md-8 col-sm-12 co-xs-12 gal-item">
					<div class="box">
						<a ng-click="transitToProperties('Paris')" id="city-Paris">
							<img src="./images/paris.jpg">
							<h2 class="homepage-thumbnails-h2"> Paris </h2>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
					<div class="box">
						<a ng-click="transitToProperties('New York')" id="city-New York">
							<img src="./images/newyork.jpg">
							<h2 class="homepage-thumbnails-h2"> New York </h2>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
					<div class="box" style="margin-left: -20px;">
						<a ng-click="transitToProperties('Tokyo')" id="city-Tokyo">
							<img src="./images/tokyo.jpg">
							<h2 class="homepage-thumbnails-h2"> Tokyo </h2>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
					<div class="box">
						<a ng-click="transitToProperties('San Jose')" id="city-San Jose">
							<img src="./images/sanjose.jpg">
							<h2 class="homepage-thumbnails-h2"> San Jose </h2>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
					<div class="box">
						<a ng-click="transitToProperties('Los Angeles')" id="city-Los Angeles">
							<img src="./images/losangeles.jpeg">
							<h2 class="homepage-thumbnails-h2"> Los Angeles </h2>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
					<div class="box" style="margin-left: -20px;">
						<a ng-click="transitToProperties('New York')" id="city-New York">
							<img src="./images/mumbai.jpg">
							<h2 class="homepage-thumbnails-h2"> Mumbai </h2>
						</a>
					</div>
				</div>
				<div class="col-md-8 col-sm-12 co-xs-12 gal-item">
					<div class="box">
						<a ng-click="transitToProperties('Paris')" id="city-Paris">
							<img src="./images/pune.jpg">
							<h2 class="homepage-thumbnails-h2"> Pune </h2>
						</a>
					</div>
				</div>
			</div>

			<!--adding javascript for changing the models for signin and signup-->
			<!--including date picker -->

			<script src="stylesheets/bootstrap-datepicker.js"></script>
			<link rel='stylesheet' href='/stylesheets/datepicker.css'/>

			<script>
			$("#datepickerTill").datepicker();
			$("#datepickerWhen").datepicker();

    		function remove_signin() {
    			$("#myModalSignIn").removeClass("fade").modal("hide");
    			//$("#myModalNorm").modal("show");
    		}

            function remove_signup() {
    			$("#myModalNorm").removeClass("fade").modal("hide");
    			//$("#myModalNorm").modal("show");
    		}

            function show_signin() {
    			$("#myModalSignIn").modal("show");
    		}


    		$("#signup1").on("click", function () {
    			 remove_signin();
    		});

            $("#signup").on("click", function () {
    			 remove_signup();
    		});

            $("#signin").on("click", function () {
    			 remove_signup();
    		});

/*            $("#register").on("click", function () {
    			 remove_signup();
    		});*/
			</script>
			<script src="/scripts/util.client.logging.js"></script>
		</div>
	</div>
</div>


	<footer class="footer-table" id="footer" style="right: 0; bottom: 0; left: 0; border-top: 3px;">
		<hr/>
	    <ul class="list-inline icon-list list-border" itemscope="" itemtype="http://schema.org/Organization">
	    	<i class="icon icon-airbnb-alt icon-gray belo-icon icon-size-2"></i>
	          <div class="text-muted">
	            © Airbnb, Inc.
	          </div>
	    </ul>
	    <ul class="list-inline icon-list" itemscope="" itemtype="http://schema.org/Organization">
	        <link itemprop="url" href="https://www.airbnb.com">
	        <meta itemprop="logo" content="https://a2.muscache.com/airbnb/static/logos/belo-200x200-4d851c5b28f61931bf1df28dd15e60ef.png">
	        <li><a href="/terms" class="link-contrast text-gray icon-gray"  id="Terms">Terms &amp; Privacy</a></li>
          	<li><a href="/sitemaps" class="link-contrast text-gray icon-gray">Site Map</a></li>
            <li>
              	<a href="https://www.facebook.com/airbnb" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
                	<span class="screen-reader-only text-gray icon-gray">Facebook</span>
                	<i class="icon footer-icon icon-facebook text-gray icon-gray"></i>
				</a>
			</li>
            <li>
              	<a href="https://twitter.com/airbnb" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
                	<span class="screen-reader-only text-gray icon-gray">Twitter</span>
                	<i class="icon footer-icon icon-twitter text-gray icon-gray"></i>
                </a>
            </li>
            <li>
              	<a href="https://instagram.com/airbnb" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
                	<span class="screen-reader-only text-gray icon-gray">Instagram</span>
                	<i class="icon footer-icon icon-instagram text-gray icon-gray"></i>
				</a>
			</li>
	      </ul>
	</footer>
