    <link rel='stylesheet' href='../stylesheets/style.homepage.css' />
    <link href="https://a2.muscache.com/airbnb/static/packages/common_o2.1-95d643eef69139392786405865038db8.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://a1.muscache.com/airbnb/static/packages/common-e2aa11d9210d88c08eb62a0e67b5f554.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://a1.muscache.com/airbnb/static/packages/address_widget-4f18ee66a37930ce1c93c8f33690c7b0.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://a2.muscache.com/airbnb/static/packages/phonenumbers-67b13441cd68e5c9161e38a0dab88b54.css" media="screen" rel="stylesheet" type="text/css" /><link href="https://a2.muscache.com/airbnb/static/business_travel/quick_enroll-9fe44fac8aa94516d93764b9b4e57633.css" media="screen" rel="stylesheet" type="text/css" /><link href="https://a1.muscache.com/airbnb/static/packages/edit_profile-ac1fc053a07a8229d28854f4afdc24e6.css" media="screen" rel="stylesheet" type="text/css" />
    <!--		<link rel='stylesheet' href='../stylesheets/datepicker.css'/>-->
    <script src="https://ucarecdn.com/widget/2.10.1/uploadcare/uploadcare.full.min.js" charset="utf-8"></script>

    <script>
        UPLOADCARE_PUBLIC_KEY = '6f4f819d5c5ac7eb24ae';
        UPLOADCARE_LOCALE = 'en';
        UPLOADCARE_LIVE = false;
    </script>

    <style>
        .image-preview-single {
          padding: 10px 0;
      }
      .image-preview-single > img {
          width: 128px;
          height: 96px;
          vertical-align: middle;
          visibility: hidden;
          display: inline-block;
      }
  </style>


  <div class="panel  ">

      <div class="panel-body">


        <!--      <img src="https://ucarecdn.com/8d97a055-e490-41f6-8ff7-deae143116d6/faak.jpg">-->
        <div class = "row">
            <div class="page-container-responsive space-top-4 ">

                <div class="col-md-4">
                  <div class="panel space-4">
                    <div class="media media-photo-block
                    ">
                    <a href="{{profile_pic}}" title="View Profile"><img class="img-responsive" height="222" src="{{profile_pic}}" width="222" /></a>
                </div>
                <div class="panel-body">
<!--
                  <h2 class="text-center">
                    Rohan
                </h2>
-->
<!--
                <ul class="list-unstyled text-center">
                    <li>
                        <a href="/users/show/101757104">View Profile</a>
                    </li>
                    <li>
                        <a href="/users/edit" id="edit-profile">Edit Profile</a>
                    </li>
                </ul>
-->
            </div>

            <button class="btn btn-primary btn-large btn-block"> <input type="hidden"  role="uploadcare-uploader" data-public-key="6f4f819d5c5ac7eb24ae"  ng-model = "profile_pic" id = "profile_pic" autoFillSync class = " btn btn-block" name = "profile_pic" /></button>
            <button type="submit" class="btn btn-primary btn-large btn-block" ng-click=update_Profile() id="update_profile-picture">
             Update profile picture
         </button>
     </div>
 </div>


 <div class = "col-md-8">

    <div class="row row-condensed space-3">
        <label class="text-right col-sm-3" for="user_first_name">
            First Name
        </label>
        <div class="col-sm-8">
            <input id="user_first_name" name="user_first_name" size="30" type="text" value={{data.firstname}} ng-model="user_first_name" />
        </div>
    </div>




    <div class="row row-condensed space-4">
        <label class="text-right col-sm-3" for="user_last_name">
            Last Name
        </label>
        <div class="col-sm-8">
            <input id="user_last_name" name="user_last_name" size="30" type="text" value={{data.lastname}} ng-model="user_last_name" />
            <div class="text-muted space-top-1">This is only shared once you have a confirmed booking with another Airbnb user.</div>
        </div>
    </div>

    <div class="row row-condensed space-4">
        <label class="text-right col-sm-3" for="user_sex">
            I Am <i class="glyphicon glyphicon-lock" data-behavior="tooltip" title="Private"></i>
        </label>
        <div class="col-sm-8">
            <div class="select">
                <select id="user_sex" name="user_sex" ng-model ="sex" value = {{data.sex}}><option value="">Gender</option>
                    <option value="Male" selected="selected">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <div class="text-muted space-top-1">We use this data for analysis and never share it with other users.</div>
        </div>
    </div>


    <!--      start of birthday-->



    <div class="row row-condensed space-4">
        <label class="text-right col-sm-3" for="user_birthdate">
          Birth Date <i class="glyphicon glyphicon-lock" data-behavior="tooltip" title="Private"></i>
      </label>
      <div class="col-sm-8">

          <input id="user_birthdate" name="user_birthday" ng-model="user_birthday" type = "text" disabled>
      </input>
    <!--
                <script>
                    $("#user_birthdate").datepicker('getDate');
                </script>
            -->
        <div class="text-muted space-top-1">The magical day you were dropped from the sky by a stork. We use this data for analysis and never share it with other users.</div>
    </div>

</div>


<!--              end of date here-->


<div class="row row-condensed space-4">
    <label class="text-right col-sm-3" for="user_email">
        Email Address <i class="glyphicon glyphicon-lock" data-behavior="tooltip" title="Private"></i>
    </label>
    <div class="col-sm-8">
        <input id="user_email" name="user_email" size="30" value = {{data.username}} type="text" ng-model="user_email" disabled />
        <div class="text-muted space-top-1">We won’t share your private email address with other Airbnb users. <a href="/help/article/694" target="blank">Learn more</a>.</div>
    </div>
</div>

<div class="row row-condensed space-4">
    <label class="text-right col-sm-3" for="user_phone">
        Phone Number <i class="glyphicon glyphicon-lock" data-behavior="tooltip" title="Private"></i>
    </label>
    <div class="col-sm-8">
        <input id="user_email" name="user_phone" size="30" type="text" ng-model="phone" value={{data.phone}} />
                <h4><b>{{inv_phone}}</b> </h4>

    </div>
</div>

<div class="row row-condensed space-4">
    <label class="text-right col-sm-3" for="user_email">
        Credit card
    </label>
    <div class="col-sm-8">
        <input id="user_credit_card" name="user_email" size="30" value = {{data.credit_card}} type="text" ng-model="user_creditcard" />
        <h4><b>{{inv_credit_card}}</b> </h4>

        <div class="text-muted space-top-1">We won’t share your private information with other Airbnb users. <a href="/help/article/694" target="blank">Learn more</a>.</div>
    </div>
</div>



<div class="row row-condensed space-4">c
    <label class="text-right col-sm-3" for="user_profile_info_preferred_language">
        Preferred Language
    </label>
    <div class="col-sm-8">

        <div class="select">
            <select id="user_preferred_locale" name="user_preferred_locale" ng-model= "user_preferred_locale" value= {{data.user_preferred_locale}}>
                <option value="id">Bahasa Indonesia</option>
                <option value="ms">Bahasa Melayu</option>
                <option value="ca">Català</option>
                <option value="da">Dansk</option>
                <option value="de">Deutsch</option>
                <option value="en" selected="selected">English</option>
                <option value="es">Español</option>
                <option value="el">Eλληνικά</option>
                <option value="fr">Français</option>
                <option value="it">Italiano</option>
                <option value="hu">Magyar</option>
                <option value="nl">Nederlands</option>
                <option value="no">Norsk</option>
                <option value="pl">Polski</option>
                <option value="pt">Português</option>
                <option value="fi">Suomi</option>
                <option value="sv">Svenska</option>
                <option value="tr">Türkçe</option>
                <option value="is">Íslenska</option>
                <option value="cs">Čeština</option>
                <option value="ru">Русский</option>
                <option value="th">ภาษาไทย</option>
                <option value="zh">中文 (简体)</option>
                <option value="zh-TW">中文 (繁體)</option>
                <option value="ja">日本語</option>
                <option value="ko">한국어</option>
            </select>
        </div>

        <div class="text-muted space-top-1">We'll send you messages in this language.</div>
    </div>
</div>




<div class="row row-condensed space-4">
    <label class="text-right col-sm-3" for="user_profile_info_preferred_currency">
      Preferred Currency
  </label>
  <div class="col-sm-8">

    <div class="select">
        <select id="user_native_currency" name="user_native_currency" ng-model = "user_native_currency" value = {{data.user_native_currency}}>
            <option value="AED">AED</option>
            <option value="ARS">ARS</option>
            <option value="AUD">AUD</option>
            <option value="BGN">BGN</option>
            <option value="BRL">BRL</option>
            <option value="CAD">CAD</option>
            <option value="CHF">CHF</option>
            <option value="CLP">CLP</option>
            <option value="CNY">CNY</option>
            <option value="COP">COP</option>
            <option value="CRC">CRC</option>
            <option value="CZK">CZK</option>
            <option value="DKK">DKK</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
            <option value="HKD">HKD</option>
            <option value="HRK">HRK</option>
            <option value="HUF">HUF</option>
            <option value="IDR">IDR</option>
            <option value="ILS">ILS</option>
            <option value="INR">INR</option>
            <option value="JPY">JPY</option>
            <option value="KRW">KRW</option>
            <option value="MAD">MAD</option>
            <option value="MXN">MXN</option>
            <option value="MYR">MYR</option>
            <option value="NOK">NOK</option>
            <option value="NZD">NZD</option>
            <option value="PEN">PEN</option>
            <option value="PHP">PHP</option>
            <option value="PLN">PLN</option>
            <option value="RON">RON</option>
            <option value="RUB">RUB</option>
            <option value="SAR">SAR</option>
            <option value="SEK">SEK</option>
            <option value="SGD">SGD</option>
            <option value="THB">THB</option>
            <option value="TRY">TRY</option>
            <option value="TWD">TWD</option>
            <option value="UAH">UAH</option>
            <option value="USD" selected="selected">USD</option>
            <option value="UYU">UYU</option>
            <option value="VND">VND</option>
            <option value="ZAR">ZAR</option></select>
        </div>

        <div class="text-muted space-top-1">We’ll show you prices in this currency.</div>
    </div>
</div>






<div class="row row-condensed space-4">
    <label class="text-right col-sm-3" for="user_profile_info_current_city">
      Where You Live
  </label>
  <div class="col-sm-8">
      <input id="user_city" name="user_city" placeholder="e.g. Paris, France / Brooklyn, NY / Chicago, IL" size="30" type="text" value={{data.city}} ng-model = "city" />


  </div>
</div>

<div class="row row-condensed space-4">
    <label class="text-right col-sm-3" for="user_profile_info_about">
      Describe Yourself
  </label>
  <div class="col-sm-8">

      <textarea cols="40" id="user_about" name="user_about" value={{data.about}} ng-model= "about" rows="5"></textarea>



  </br>

</div>



</div>




</div>


</div>




</br></br></br>

<div class="panel-header">
    Business Travel  </div>

    <div class="panel-body">
     <div class="row row-condensed space-4">
        <label class="text-right col-sm-3" for="user_work_mail">
            Work mail
        </label>
        <div class="col-sm-8">
            <input id="user_first_name" name="user_first_name" size="30" type="text" value={{data.work_email}} ng-model="user_work_mail" />
        </br></br>
        <button type="submit" class="btn btn-primary btn-large" ng-click=update_Profile()>
          Save
      </button>
      <button type="submit" class="btn btn-primary btn-large" ng-click=deleteUser()>
        Delete user
    </button>
    <span class="font-airbnb-faded" ng-if= deleteUserErrorMsg> Error in deleting your profile. Please refresh and try again </span>
  </div>
<script src="/scripts/util.client.logging.js"></script>
</div>
