
<div class="panel">

    <div class="panel-body">

        <!--      <img src="https://ucarecdn.com/8d97a055-e490-41f6-8ff7-deae143116d6/faak.jpg">-->
        <div class = "container" style="padding-left: 5%; padding-right: 15%">
            <h1>Used Properties Summary</h1>

            <div class=" space-top-4 ">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Property Title</th>
                        <th>Client</th>
                        <th>From</th>
                        <th>To</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="booking in allCompletedBookings">
                        <td title="'Property title'">
                            {{booking.propertyDetails.title}}</td>
                        <td >
                            {{booking.userDetails.firstname}}


                        </td>

                        <td>
                            {{booking.from_date}}</td>
                        <td>
                            {{booking.till_date}}</td>
                        <td>

                            <button class="btn btn-primary" id="ViewBill" ng-click="viewBill(booking.id)">
                                View Bill
                            </button>
                            <button class="btn btn-primary" id="reviewUser" ng-click="reviewUser(booking.id)">
                                Review User
                            </button>

                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <script src="/scripts/util.client.logging.js"></script>
</div>
